<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{/../fragments/style}"></th:block>
    <title th:text="#{tourliste.titel}"></title>
</head>

<body>
    <header th:replace="~{/../fragments/kopffuss :: kopf(ueberschrift=#{tourliste.titel})}"></header>
    <div class="container">
        <table class="table">
            <th>
                <tr>
                <td>ID</td>
                    <td th:text="#{tour.abfahrdatetime}"></td>
                    <td th:text="#{tour.preis}"></td>
                    <td th:text="#{tour.plaetze}"></td>
                    <td th:text="#{tour.startort}"></td>
                    <td th:text="#{tour.zielort}"></td>
                    <td th:text="#{tour.anbieter}"></td>
                </tr>
            </th>
            <tr th:each="tour : ${tourliste}">
                <td th:text="${tour.id}"></td>
                <td th:text="${tour.abfahrDateTime}"></td>
                <td th:text="${tour.preis}"></td>
                <td th:text="${tour.plaetze}"></td>
                <td th:text="${tour.startort.name}"></td>
                <td th:text="${tour.zielort.name}"></td>
                <td th:text="${tour.anbieter.name}"></td>
                <td><a th:href="@{/admin/tour/{id}(id=${tour.id})}"><button th:text="#{tourliste.eintrag.bearbeiten}"
                            class="btn btn-danger" th:action="@{tour/tour.id}">Bearbeiten</button></a></td>
                <td><a th:href="@{/admin/tour/{id}/del(id=${tour.id})}"><button th:text="#{tourliste.eintrag.loeschen}"
                            class="btn btn-secondary" type="button">Löschen</button></a></td>
            </tr>
        </table>
        <a th:href="@{/admin/tour/0}"><button th:text="#{tourliste.neu}" class="btn btn-primary">Neuer Ort</button></a>
    </div>
    <footer th:replace="~{/../fragments/kopffuss :: fuss}">
    </footer>
</body>

</html>