<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{/../fragments/style}"></th:block>
    <title th:text="${tourID} == 0 ? #{tourformular.titel.neu} : #{tourformular.titel(${tourID})}"></title>
</head>

<body>
    <header th:replace="${tourID} == 0 ? 
        ~{/../fragments/kopffuss :: kopf(ueberschrift=#{tourformular.titel.neu})} :
        ~{/../fragments/kopffuss :: kopf(ueberschrift=#{tourformular.titel(${tourID})})}">
    </header>
    <div class="container">
        <form th:method="POST" th:object="${tourformular}" th:action="@{#}">
            <div class="row mt-4">
                <div class="col-sm-12 form-group">
                    <label th:text="#{tour.anbieter}">Anbieter</label><br>
                    <select class="form-select" th:field="*{anbieter}">
                        <option th:each="benutzer : *{benutzerliste}" th:value="${benutzer.name}"
                            th:text="${benutzer.name}"></option>
                    </select><br>

                    <label th:text="#{tour.abfahrdatetime}">Abfahrtszeitpunkt</label><br>
                    <input type="date" class="form-control" th:field="*{abfahrDateTime}" th:errorclass="is-invalid">
                    <div class="text-danger" th:if="${#fields.hasErrors('abfahrDateTime')}"
                        th:errors="*{abfahrDateTime}"></div>

                    <label th:text="#{tour.preis}">Preis</label><br>
                    <input type="text" class="form-control" th:field="*{preis}" th:errorclass="is-invalid">
                    <div class="text-danger" th:if="${#fields.hasErrors('preis')}" th:errors="*{preis}"></div> <br>

                    <label th:text="#{tour.plaetze}">Plätze</label><br>
                    <input type="text" class="form-control" th:field="*{plaetze}" th:errorclass="is-invalid">
                    <div class="text-danger" th:if="${#fields.hasErrors('plaetze')}" th:errors="*{plaetze}"></div> <br>

                    <label th:text="#{tour.startort}">Startort</label>
                    <select class="form-select" th:field="*{startOrt}">
                        <option th:each="ort : ${tourformular.ortliste}" th:value="${ort.name}" th:text="${ort.name}">
                        </option>
                        </option>
                    </select>

                    <label th:text="#{tour.anbieter}">Zielort</label>
                    <select class="form-select" th:field="*{zielOrt}">
                        <option th:each="ort : ${tourformular.ortliste}" th:value="${ort.name}" th:text="${ort.name}">
                        </option>
                    </select><br>

                    <label th:text="#{tour.fahrgastinfos}">Fahrgastinformationen</label><br>
                    <textarea class="form-control" type="text" th:field="*{info}" rows="4"
                        th:errorclass="is-invalid"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('info')}" th:errors="*{info}">
                    </div>
                    <br>
                </div>

                <div class="col-sm-12">
                    <div class="d-grid mt-4">
                        <input type="submit" class="btn btn-primary btn-block" value="ok">
                    </div>
                </div>

            </div>
        </form>
        <footer th:replace="~{/../fragments/kopffuss :: fuss}">
        </footer>
</body>

</html>