<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:th="http://www.thymeleaf.org">
        <head>
                <title>Benutzer bearbeiten</title>
                <style>
                        table td {vertical-align: top};
                </style>
        </head>
        <body>
                <h1 th:text="|Benutzerprofil ${benutzerID} bearbeiten|">Benutzerprofil bearbeiten</h1>
                
                <form   th:method="POST"
                        th:object="${formular}"
                        th:action="@{#}" name="benutzerProfil">
                        <label for="benutzerName">Name</label><br>
                        <input type="text" th:field="*{name}" name="benutzerName" id="benutzerName"><br>

                        <label for="email">E-mail</label>E-mail<br>
                        <input type="text" th:field="*{mail}" name="email" id="email"><br>

                        <label for="passwort">Passwort</label>Passwort<br>
                        <input type="text" th:field="*{password}" name="passwort" id="passwort"><br>
                        
                        <label for="geburtstag">Geburtstag</label>Geburtstag<br>
                        <input type="date" th:field="*{birthday}" name="geburtstag" id="geburtstag"><br>

                        <table>
                                <thead>
                                        <tr>
                                                <th><p th:text="|Mag (max ${maxwunsch})|">Mag <br>(max. 5)</p></th>
                                                <th><p th:text="|Mag nicht (max ${maxwunsch})|">Mag nicht <br>(max. 5)</p></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td>
                                                        <input th:if="${#lists.size(formular.mag)} le ${maxwunsch}" type="text" name="mag" id="mag">
                                                </td>
                                                <td>
                                                        <input th:if="${#lists.size(formular.magNicht)} le ${maxwunsch}" type="text" name="magNicht" id="magNicht">
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <ul th:each="m : ${formular.mag}">
                                                                <le th:text="${m}">mag ich</le>
                                                        </ul>
                                                </td>
                                                <td>
                                                        <ul th:each="mn : ${formular.magNicht}">
                                                                <le th:text="${mn}">mag ich nicht</le>
                                                        </ul>
                                                </td>
                                        </tr>
                                </tbody>
                        </table>
                        <input type="submit" value="ok">
                </form>
        </body>    
</html>