<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{/../fragments/style}"></th:block>
    <title th:text="${ortID} == 0 ? #{ortformular.titel.neu} : #{ortformular.titel(${ortID})}"></title>
</head>

<body>
    <header th:replace="${ortID} == 0 ?
        ~{/../fragments/kopffuss :: kopf(ueberschrift=#{ortformular.titel.neu})} :
        ~{/../fragments/kopffuss :: kopf(ueberschrift=#{ortformular.titel(${ortID})})}">
    </header>
    <div class="container">
        <form th:method="POST" th:object="${ortformular}" th:action="@{#}">
            <div class="row mt-4">
                <div class="col-sm-12 form-group">
                    <label th:text="#{ort.name}">Ortsname</label><br>
                    <input class="form-control" type="text" th:field="*{name}" th:errorclass="is-invalid">
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    </div>
                    <br>

                    <label th:text="#{ort.geobreite}">Breite</label><br>
                    <input type="text" class="form-control" th:field="*{geobreite}" th:errorclass="is-invalid">
                    <div class="text-danger" th:if="${#fields.hasErrors('geobreite')}" th:errors="*{geobreite}">
                    </div>

                    <label th:text="#{ort.geolaenge}">Geolänge</label><br>
                    <input type="text" class="form-control" th:field="*{geolaenge}" th:errorclass="is-invalid">
                    <div class="text-danger" th:if="${#fields.hasErrors('geolaenge')}" th:errors="*{geolaenge}">
                    </div> <br>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="d-grid mt-4">
                        <input type="submit" class="btn btn-primary btn-block" value="ok">
                </div>
        </div>
    </div>
    </form>
    <footer th:replace="~{/../fragments/kopffuss :: fuss}">
    </footer>
</body>
</html>