<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{/../fragments/style}"></th:block>
    <title th:text="#{ortsliste.titel}"></title>
</head>

<body>
    <header th:replace="~{/../fragments/kopffuss :: kopf(ueberschrift=#{ortsliste.titel})}"></header>
    <div class="container">
        <table class="table">
            <tr th:each="ort : ${ortsliste}">
                <td th:text="${ort.id}"></td>
                <td th:text="${ort.name}"></td>
                <td th:text="${ort.geobreite}"></td>
                <td th:text="${ort.geolaenge}"></td>
                <td>
                    <a th:href="|https://www.openstreetmap.org/#map=14/${ort.geobreite}/${ort.geolaenge}|"
                        target="_blank" th:text="#{ort.link.karte}">Karte</a>
                </td>
                <td><a th:href="@{/admin/ort/{id}(id=${ort.id})}"><button th:text="#{ortsliste.eintrag.bearbeiten}"
                            class="btn btn-danger" th:action="@{ort/ort.id}">Bearbeiten</button></a></td>
                <td><a th:href="@{/admin/ort/{id}/del(id=${ort.id})}"><button th:text="#{ortsliste.eintrag.loeschen}"
                            class="btn btn-secondary" type="button">Löschen</button></a></td>
            </tr>
        </table>
        <a th:href="@{/admin/ort/0}"><button th:text="#{ortsliste.neu}" class="btn btn-primary">Neuer Ort</button></a>
    </div>
    <footer th:replace="~{/../fragments/kopffuss :: fuss}">
    </footer>
</body>

</html>